{% extends 'base.html' %}
{% block title %}Payment Methods{% endblock %}
{% block content %}

<h1 align="center" style="margin-top: 5%;">Payment Methods</h1>
<div
      style="margin: 5%; margin-top: 2%; border: black 2px; padding: 5%; border-radius: 5px; box-shadow: 10px 10px 50px grey">
      

      <div style="border: solid rgb(27, 26, 26) 1px; border-radius: 5px; padding: 2%;">
        {% for pay in pays %}
            {{pay.payment_method}}
            <hr>
            {% endfor %}
            
      </div>
      
    
      <div style="border: solid rgb(27, 26, 26) 1px; border-radius: 5px; padding: 2%;">
            <form class="form-inline" method="POST">

                  Payment Method:&nbsp;<input type="text" class="form-control" id="payment_method" name="payment_method">&nbsp;&nbsp;
                  <button type="submit" class="btn btn-primary">Add</button>
            </form>
      </div>
</div>
{% endblock %}