{% extends 'base.html' %}
{% block title %}Payment Methods{% endblock %}
{% block content %}

<h1 align="center" style="margin-top: 5%;">Payment Methods</h1>
<div style="margin: 5%; margin-top: 2%; border: black 2px; padding: 5%; border-radius: 5px; box-shadow: 10px 10px 50px grey">
    <div style="border: solid rgb(27, 26, 26) 1px; border-radius: 5px; padding: 2%;">
        {% for pay in pays %}
        <div>{{ pay.payment_method }}

            <form action="{{ url_for('views.delete_payment', id=pay.id) }}" method="post">
                  <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            
        </div>
        <hr>
        {% endfor %}
    </div>

    <div style="border: solid rgb(27, 26, 26) 1px; border-radius: 5px; padding: 2%; margin-top: 10px;">
        <form class="form-inline" method="POST">
            <div class="form-group">
                <label for="payment_method" style="margin-right: 10px;">Payment Method:</label>
                <input type="text" class="form-control" id="payment_method" name="payment_method" required>
            </div>
            <button type="submit" class="btn btn-primary" style="margin-left: 10px;">Add</button>
        </form>
    </div>
</div>
 
{% endblock %}