<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    crossorigin="anonymous" />

  <title>{% block title %}Home{% endblock %}</title>
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
      <div class="navbar-nav">
        {% if user.is_authenticated %}
                            

       <a class="nav-item nav-link" id="home" href="/">Home</a>
       {% if user.user_id=="manager" %}
            <a class="nav-item nav-link" id="dailyprice" href="/dailyprice">Daily Price</a>
            <a class="nav-item nav-link" id="dailysales" href="/dailysales">Daily Sales</a>
            <a class="nav-item nav-link" id="dutyposting" href="/dutyposting">Duty Posting</a>
            <a class="nav-item nav-link" id="fueldetails" href="/fueldetails">Fuel Details</a>
            <a class="nav-item nav-link" id="reports" href="/reports">Reports</a>
            <a class="nav-item nav-link" id="logout" href="/logout" style="float: right;">Logout</a>
       {% endif %}
       {% if user.user_id=="admin" %}
        <div class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-expanded="false">Daily</a>
          <div class="dropdown-menu dropdown-menu-dark">
            <a class="dropdown-item" id="dailyprice" href="/dailyprice">Daily Price</a>
            <a class="dropdown-item" id="dailysales" href="/dailysales">Daily Sales</a>
            <a class="dropdown-item" id="dutyposting" href="/dutyposting">Duty Posting</a>
            <a class="dropdown-item" id="fueldetails" href="/fueldetails">Fuel Details</a>
          </div>
        </div>
  
        <a class="nav-item nav-link" id="reports" href="/reports">Reports</a>
        <div class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-expanded="false">Managers</a>
          <div class="dropdown-menu dropdown-menu-dark">
            <a class="dropdown-item" id="baymanager" href="/baymanager">Bay Manager</a>
            <a class="dropdown-item" id="employeemanager" href="/employeemanager">Employee Manager</a>
            <a class="dropdown-item" id="invmanager" href="/invmanager">Inventory Manager</a>
          </div>
        </div>
        <a class="nav-item nav-link" id="certificates" href="/certificates">Certificates</a>
        
        <div class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-expanded="false"><i class="bi bi-gear"></i>
          </a>
          
          <div class="dropdown-menu dropdown-menu-dark">
            <a class="dropdown-item" id="baymanager" href="/changepassword">Change Password</a>
            <a class="dropdown-item" id="employeemanager" href="/addpaymentmethod">Payment methods</a>
            <a class="dropdown-item" id="logout" href="/logout">Logout</a>
            <!-- <a class="dropdown-item" id="invmanager" href="/invmanager">Inventory Manager</a> -->
          </div>
        </div>

        {% endif %}
        
        
        {% else %}
        <a class="nav-item nav-link" id="manlogin" href="/login">Login</a>
        {% endif %}
      </div>
  </nav>

  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
  {% for category, message in messages %}
  <div class="alert alert-success alert-dismissable fade show" role="alert">
    {{ message }}
    <button type="button" class="close" data-dismiss="alert">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {% endfor %}
  {% endif %}
  {% endwith %}


  <div>
    {% block content %}
    {% endblock %}
  </div>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

</body>

</html>