{% extends 'base.html' %}
{% block title %}Bay Manager{% endblock %}
{% block content %}

<h1 align="center" style="margin-top: 5%;">Bay Manager</h1>
<div
      style="margin: 5%; margin-top: 2%; border: black 2px; padding: 5%; border-radius: 5px; box-shadow: 10px 10px 50px grey">
      {% for bay in bays %}

      <div style="border: solid rgb(27, 26, 26) 1px; border-radius: 5px; padding: 2%;">
            Bay&nbsp;{{bay.bay_no}}
            <p align="right">
                  HSD:&nbsp;{{bay.hsd}}&nbsp;&nbsp;
                  Ms:&nbsp;{{bay.ms}}&nbsp;&nbsp;
            </p>

      </div>
      <br>
      {% endfor %}
      <div style="border: solid rgb(27, 26, 26) 1px; border-radius: 5px; padding: 2%;">
            <form class="form-inline" method="POST">

                  MS:&nbsp;<input type="text" class="form-control" id="MS" name="MS">&nbsp;&nbsp;
                  HSD:&nbsp;<input type="text" class="form-control" id="HSD" name="HSD">&nbsp;&nbsp;
                  <button type="submit" class="btn btn-primary">Add Bay</button>
            </form>
      </div>
</div>
{% endblock %}