{% extends 'base.html' %}
{% block title %}Bay Manager{% endblock %}
{% block content %}

<h1 align="center" style="margin-top: 5%;">Bay Manager</h1>
<div class="outer" style="margin: 5%; margin-top: 2%; border: black 2px; padding: 5%; border-radius: 5px; box-shadow: 10px 10px 50px grey;">
      {% for bay in bays %}
      <div style="border: solid rgb(27, 26, 26) 1px; border-radius: 5px; padding: 2%; margin-bottom: 10px;">
            <div style="display: flex; align-items: center; justify-content: space-between; font-size: 18px;">
                  <div>
                        Bay {{bay.bay_no}} &nbsp;&nbsp; HSD: {{bay.hsd}} &nbsp;&nbsp; MS: {{bay.ms}}
                  </div>
                  <form action="{{ url_for('views.delete_bay', id=bay.bay_no) }}" method="post" style="float: right;">
                        <button type="submit" class="btn btn-danger">Delete</button>
                  </form>
            </div>
      </div>
      
      {% endfor %}
      <div style="border: solid rgb(27, 26, 26) 1px; border-radius: 5px; padding: 2%; margin-top: 20px;">
            <form class="form-inline" method="POST">
                  <label for="MS" style="margin-right: 20px;">MS:</label>
                  <input type="number" style="margin-top: 20px;" class="form-control" id="MS" name="MS" required>
                  <label for="HSD" style="margin-left: 20px; margin-right: 20px;">HSD:</label>
                  <input type="number" style="margin-top: 20px;" class="form-control" id="HSD" name="HSD" required>
                  <button type="submit" class="btn btn-primary" style="margin-left: 20px; margin-bottom:10px; float: right;">Add Bay</button>
            </form>
      </div>
</div>

{% endblock %}