{% extends 'base.html' %}
{% block title %}Certificates{% endblock %}
{% block content %}

<h1 style="text-align: center; margin-top: 5%;">Certificates</h1>
<div class="outer" style="margin: 5%; margin-top: 2%; border: 2px solid black; padding: 5%; border-radius: 5px; box-shadow: 10px 10px 50px grey;">

  {% for certificate in certificates %}

  <div style="border: 1px solid rgb(27, 26, 26); border-radius: 5px; padding: 2%;">
    <div style="display: flex; justify-content: space-between; align-items: center; font-size: 18px;">
      <div margin-right: 10%;>{{certificate.name}}</div>
      <div style="display: flex; justify-content: space-between; align-items: center; font-size: 18px;">
        <div>
        Issue Date: {{certificate.issue_date}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Expiry Date: {{certificate.exp_date}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/certificates/{{certificate.name}}" >
          <button class="btn btn-info">View</button>
        </a>
      </div>
      <form action="{{ url_for('views.delete_certificate', name=certificate.name) }}" method="post" style="margin-left: 10px;">
        <button type="submit" class="btn btn-danger">Delete</button>
      </form>
    </div>
    </div>

  </div>
  <br>

  {% endfor %}

  <div style="border: 1px solid rgb(27, 26, 26); border-radius: 5px; padding: 2%; margin-top: 20px;">
    <form method="POST" enctype="multipart/form-data">
      <div class="form-group">
        <label for="name" >Name:</label>
        <input type="text" class="form-control" id="name" name="name" required>
      </div>
      <div class="form-group">
        <label for="issue_date" >Issue Date:</label>
        <input type="date" class="form-control" id="issue_date" name="issue_date" required>
      </div>
      <div class="form-group">
        <label for="exp_date" >Expiry Date:</label>
        <input type="date" class="form-control" id="exp_date" name="exp_date" required>
      </div>
      <div class="form-group">
        <label for="file" >Upload Certificate:</label>
        <input type="file" class="form-control" id="file" name="file" accept="application" required>
      </div>
      <div style="text-align: center;">
        <button type="submit" class="btn btn-primary">Add Certificate</button>
      </div>
    </form>
  </div>

</div>

{% endblock %}