{% extends 'base.html' %}
{% block title %}Add Report{% endblock %}
{% block content %}

<head>
      <style>
            #tr,
            th,
            td {
                  border: solid rgb(106, 104, 104) 1px;
                  border-radius: 15px;
                  padding: 2%;
            }
      </style>
</head>
<h1 align="center" style="margin-top: 5%;">Daily Sales</h1>
<form method="POST">
      <div class="outer" 
            style="margin: 5%; margin-top: 2%; border: black 2px; padding: 5%; border-radius: 5px; box-shadow: 10px 10px 50px grey">
            <div style="border: solid rgb(27, 26, 26) 1px; border-radius: 5px; padding: 2%;">
                  <div class="form-group form-inline">
                        <label for="date">Date:&nbsp;</label>
                        <input type="date" class="form-control" id="date" name="date" style="margin-right: 5%; margin-top: 5%; margin-bottom: 5%;" value="{{date}}"/>
                        <label for="name">Employee:&nbsp;</label>
                        <!-- <input type="number" class="form-control" id="name" name="name" style="margin-right: 10%;" /> -->
                        <select class="form-control" id = "emp_id" name="emp_id" style="margin-right: 5%; margin-top: 5%; margin-bottom: 5%;">
                              {% for employee in employees %}
                                    <option value="{{employee.emp_id}}">{{employee.name}}</option>
                              {% endfor %}
                        </select>
                  <!-- </div>
                  <div class="form-group form-inline"> -->
                        <label for="bay">Bay:&nbsp;</label>
                        <select class="form-control" id = "bay" name="bay" style="margin-right: 5%; margin-top: 5%; margin-bottom: 5%;">
                              {% for bay in bays %}
                                    <option value="{{bay.bay_no}}">{{bay.bay_no}}</option>
                              {% endfor %}
                        </select>
                        <!-- <input type="number" class="form-control" id="bay" name="bay" style="margin-right: 5%; margin-top: 5%; margin-bottom: 5%;" /> -->

                        <label for="shift">Shift&nbsp;</label>
                              &nbsp;
                        <!-- <input type="number" class="form-control" id="shift" name="shift" style="margin-right: 10%;" /> -->
                        1:&nbsp;&nbsp;<input type="radio" class="form-control" id="shift" name="shift" value="1" checked="on" style="margin-top: 27px; font-size: 1px;"/>&nbsp;&nbsp;
                        2:&nbsp;&nbsp;<input type="radio" class="form-control" id="shift" name="shift" value="2" style="margin-top: 27px; font-size: 1px"/>
                  
                  </div>
            </div>

      </div>

      <div class="outer" 
            style="margin: 5%; margin-top: 2%; border: black 2px; padding: 5%; border-radius: 5px; box-shadow: 10px 10px 50px grey">
            <h4>Sale</h4>

            <div style="border: solid rgb(27, 26, 26) 1px; border-radius: 5px; padding: 2%; overflow-x: auto;">
                  <table class="table table-bordered table-hover">
                        <tr>
                              <th style="width:auto;">
                                    Product
                              </th>
                              <th>
                                    Opening
                              </th>
                              <th>
                                    Closing
                              </th>
                              <th>
                                    &nbsp;Sale&nbsp;
                              </th>
                              <th>
                                    &nbsp;Rs.&nbsp;&nbsp;
                              </th>
                        </tr>
                        <tr>
                              <th class="w-auto">
                                    MS &nbsp;
                              </th>
                              <td>
                                    <input type="number" class="form-control" id="ms_opening" name="ms_opening"
                                          style="margin-right: 10%;" size="3" value="0" step="any" onchange="calc({{daily.ms_price}},{{daily.hsd_price}})" required/>
                              </td>
                              <td>
                                    <input type="number" class="form-control" id="ms_closing" name="ms_closing"
                                          style="margin-right: 10%;" size="3" step="any" onchange="calc({{daily.ms_price}},{{daily.hsd_price}})" value="0" required/>
                              </td>
                              <td>
                                    <input type="number" class="form-control" id="ms_sales" name="ms_sales"
                                          style="margin-right: 10%;" size="3" value="0" step="any" required/>
                              </td>
                              <td>
                                    <input type="number" class="form-control" id="ms_amount" name="ms_amount"
                                          style="margin-right: 10%;" size="3" value="0" step="any" required/>
                                    <input type="hidden" class="form-control" id="ms_amount_hidden" name="ms_amount_hidden" step="any"    
                                          style="margin-right: 10%;" value="0" required/>
                              </td>
                        </tr>
                        <tr>
                              <th class="w-auto">
                                    HSD &nbsp;
                              </th>
                              <td>
                                    <input type="number" class="form-control" id="hsd_opening" name="hsd_opening" step="any"
                                          style="margin-right: 10%;" size="3" onchange="calc({{daily.ms_price}},{{daily.hsd_price}})" value="0" required/>
                              </td>

                              <td>

                                    <input type="number" class="form-control" id="hsd_closing" name="hsd_closing" step="any"
                                          style="margin-right: 10%;" size="3" onchange="calc({{daily.ms_price}},{{daily.hsd_price}})" value="0" required/>

                              </td>
                              <td>
                                    <input type="number" class="form-control" id="hsd_sales" name="hsd_sales" step="any"
                                          style="margin-right: 10%;" value="0" required/>
                              </td>
                              <td>
                                    <input type="number" class="form-control" id="hsd_amount" name="hsd_amount" step="any"
                                          style="margin-right: 10%;" value="0" required/>
                                    <input type="hidden" class="form-control" id="hsd_amount_hidden" name="hsd_amount_hidden" step="any"
                                          style="margin-right: 10%;" value="0" required/>
                              </td>
                        </tr>
                        {% for item in items %}
                        <tr>
                              <th>
                                    {{item.name}}
                              </th>
                              <td colspan="2">
                                    <div class="form-group form-inline">
                                          <label for="units_sold">Units Sold:&nbsp;</label>
                                          <input style="margin-top: 27px; margin-right:10%;" type="number" class="form-control" id="units_sold{{item.inv_id}}" name="units_sold{{item.inv_id}}"
                                                style="margin-right: 10%;" value="0" onchange="calc1({{item.inv_id}},{{item.price}})" required/>

                                    </div>
                              </td>
                              <td colspan="2">
                                    <div class="form-group form-inline">
                                          <label for="units_sale" id="unit_price{{item.inv_id}}" value="item.price">Amount:&nbsp;</label>
                                          <input style="margin-top: 27px; margin-right:10%;" type="number" class="form-control" id="units_sale{{item.inv_id}}" name="units_sale{{item.inv_id}}"
                                                style="margin-right: 10%;" value="0" required/>
                                          <input style="margin-top: 27px; margin-right:10%;" type="hidden" class="form-control" id="units_sale_hidden{{item.inv_id}}" name="units_sale_hidden{{item.inv_id}}"
                                                style="margin-right: 10%;" value="0" required/>
                                    </div>
                              </td>
                        </tr>
                        {% endfor %}
                        <!-- <tr>Dropdown here to have additional commodities</tr> -->
                  </table>

            </div>
      </div>
      <div class="outer" 
            style="margin: 5%; margin-top: 2%; border: black 2px; padding: 5%; border-radius: 5px; box-shadow: 10px 10px 50px grey">
            <h4>Payment Method</h4>
            <div style="border: solid rgb(27, 26, 26) 1px; border-radius: 5px; padding: 2%;">
                  <h6><u>Cash</u></h6>
                  <div class="form-group form-inline">
                        <label for="two_thousand">2000:&nbsp;</label>
                        <input style="margin-top: 27px; margin-right:10%;" step="1" type="number"  class="form-control" id="two_thousand" name="two_thousand"
                              style="margin-right: 10%;" value="0" required onchange="calc3()"/>

                        <label for="five_hundred">&nbsp;&nbsp;500:&nbsp;</label>
                        <input style="margin-top: 27px; margin-right:10%;" type="number" step="1" class="form-control" id="five_hundred" name="five_hundred"
                              style="margin-right: 10%;" value="0" required onchange="calc3()"/>
                  </div>
                  <div class="form-group form-inline">
                        <label for="two_hundred">&nbsp;&nbsp;200:&nbsp;</label>
                        <input style="margin-top: 27px; margin-right:10%;" type="number" step="1" class="form-control" id="two_hundred" name="two_hundred"
                              style="margin-right: 10%;" value="0" required onchange="calc3()"/>

                        <label for="one_hundred">&nbsp;&nbsp;100:&nbsp;</label>
                        <input style="margin-top: 27px; margin-right:10%;" type="number" step="1" class="form-control" id="one_hundred" name="one_hundred"
                              style="margin-right: 10%;" value="0" required onchange="calc3()"/>
                  </div>
                  <div class="form-group form-inline">
                        <label for="fifty">&nbsp;&nbsp;&nbsp;&nbsp;50:&nbsp;</label>
                        <input style="margin-top: 27px; margin-right:10%;" type="number" step="1" class="form-control" id="fifty" name="fifty" style="margin-right: 10%;" value="0" required onchange="calc3()"/>

                        <label for="twenty">&nbsp;&nbsp;&nbsp;&nbsp;20:&nbsp;</label>
                        <input style="margin-top: 27px; margin-right:10%;" type="number" step="1" class="form-control" id="twenty" name="twenty" style="margin-right: 10%;" value="0" required onchange="calc3()"/>
                  </div>
                  <div class="form-group form-inline">
                        <label for="ten">&nbsp;&nbsp;&nbsp;&nbsp;10:&nbsp;</label>
                        <input style="margin-top: 27px; margin-right:10%;" type="number" step="1" class="form-control" id="ten" name="ten" style="margin-right: 10%;" value="0" required onchange="calc3()"/>

                        <label for="coins">Coins:</label>
                        <input style="margin-top: 27px; margin-right:10%;" type="number" step="1" class="form-control" id="coins" name="coins" style="margin-right: 10%;" value="0" required onchange="calc3()"/>
                  </div>

                  <!-- Point of Sale:&nbsp;<a href="/pos">PoS</a> -->
                  <h6><u>Other payment methods</u></h6>
                  <div>
                        <div class="form-group form-inline">
                              <label for="pos-serial">PoS No:&nbsp;</label>
                              <p style="margin-top: 10px; margin-right:10%;" type="number" step="0.01" class="form-control" id="pos-serial" name="pos-serial" style="margin-right: 10%;" value="0">0</p>
                              <label for="pos-amount">PoS Amount:&nbsp;</label>
                              <input style="margin-top: 27px; margin-right:10%;" type="number" step="0.01" class="form-control" id="pos-amount" name="pos-amount" style="margin-right: 10%;" value="0" required/>
                              <button class="btn btn-primary" onclick="calc4()"> Add to total</button>
                              <div onclick="calc4()">ADD</div>
                              <script>
                                    function calc4()
                                    {
                                          document.getElementById("pos").value() += document.getElementById("pos-amount").value();
                                          document.getElementById("pos-serial").value() += 1;
                                          document.getElementById("pos-serial").innerHTML = document.getElementById("pos-serial").value();
                                    }
                              </script>
                              <!-- </div><div class="form-group form-inline"> -->
                        </div>
                        <div class="form-group form-inline">
                        <label for="pos">PoS:&nbsp;</label>
                        <input style="margin-top: 27px; margin-right:10%;" type="number" step="0.01" class="form-control" id="pos" name="pos" style="margin-right: 10%;" value="0" required onchange="calc3()"/>
                        <label for="smartdrive">SmartDrive:&nbsp;</label>
                        <input style="margin-top: 27px; margin-right:10%;" type="number" step="0.01" class="form-control" id="smartdrive" name="smartdrive" style="margin-right: 10%;" value="0" required onchange="calc3()"/>
                        <!-- </div><div class="form-group form-inline"> -->
                        </div><div class="form-group form-inline">
                        <label for="upi">&nbsp;UPI:&nbsp;</label>
                        <input style="margin-top: 27px; margin-right:10%;" type="number" step="0.01" class="form-control" id="upi" name="upi" style="margin-right: 10%;" value="0" required onchange="calc3()"/>
                        <!-- </div><div class="form-group form-inline"> -->
                        <label for="smartfleet">SmartFleet:&nbsp;</label>
                        <input style="margin-top: 27px; margin-right:10%;" type="number" step="0.01" class="form-control" id="smartfleet" name="smartfleet" style="margin-right: 10%;" value="0" required onchange="calc3()"/>
                        </div><div class="form-group form-inline">
                        <label for="ufill">uFill:&nbsp;</label>
                        <input style="margin-top: 27px; margin-right:10%;" type="number" step="0.01" class="form-control" id="ufill" name="ufill" style="margin-right: 10%;" value="0" required onchange="calc3()"/>
                        <!-- </div><div class="form-group form-inline"> -->
                        <label for="pinelabs">Pine Labs UPI:&nbsp;</label>
                        <input style="margin-top: 27px; margin-right:10%;" type="number" step="0.01" class="form-control" id="pinelabs" name="pinelabs" style="margin-right: 10%;" value="0" required onchange="calc3()"/>
                        </div>

                  {% for pay in pays %}
                  <div class="form-group form-inline">
                        <label >{{pay.payment_method}}:&nbsp;&nbsp;&nbsp;&nbsp;</label>
                        <input style="margin-top: 27px; margin-right:10%;" type="number" class="form-control" id="{{pay.payment_method}}" name="{{pay.payment_method}}" style="margin-right: 10%;"  value="0" required/>
                  </div>
                  {% endfor %}
                  </div>
                  
            </div>
            
      </div>
      <div class="outer" 
            style="margin: 5%; margin-top: 2%; border: black 2px; padding: 5%; border-radius: 5px; box-shadow: 10px 10px 50px grey">

            <h4>Excess/Short</h4>

            <div style="border: solid rgb(27, 26, 26) 1px; border-radius: 5px; padding: 2%;">
                  <div class="form-group form-inline">
                        <label for="stotal">Sale total:&nbsp;</label>
                        <input style="margin-top: 27px; margin-right:10%;" type="number" class="form-control" id="stotal" name="stotal" step="0.01" value="0" required/>

                        <label for="dtotal">Collected:&nbsp;</label>
                        <input style="margin-top: 27px; margin-right:10%;" type="number" class="form-control" id="dtotal" name="dtotal" value="0" step="0.01" required/>
                  </div>
                  <br>
                  <div class="form-group form-inline">
                        <label for="diff">Excess/Short:&nbsp;</label>
                        <input style="margin-top: 27px; margin-right:10%;" type="number" class="form-control" id="diff" name="diff" value="0" step="0.01" required/>
                  </div>
            </div>
            <br>
      <div align="center">
            <button type="submit" class="btn btn-primary">Submit</button>
      </div>
      </div> 
</form>

<script>
      function calc(ms_price,hsd_price)
      {
      document.getElementById("ms_sales").value=document.getElementById("ms_closing").value-document.getElementById("ms_opening").value;
      document.getElementById("hsd_sales").value=document.getElementById("hsd_closing").value-document.getElementById("hsd_opening").value;

      document.getElementById("ms_amount").value=(document.getElementById("ms_sales").value*ms_price).toFixed(2);
      document.getElementById("hsd_amount").value=(document.getElementById("hsd_sales").value*hsd_price).toFixed(2);

      document.getElementById("stotal").value = (parseFloat(document.getElementById("stotal").value) - (parseFloat(document.getElementById("hsd_amount_hidden").value) + parseFloat(document.getElementById("ms_amount_hidden").value)) + parseFloat(document.getElementById("hsd_amount").value) + parseFloat(document.getElementById("ms_amount").value)).toFixed(2);
      document.getElementById("diff").value = (parseFloat(document.getElementById("dtotal").value) - parseFloat(document.getElementById("stotal").value)).toFixed(2);
      document.getElementById("hsd_amount_hidden").value = document.getElementById("hsd_amount").value
      document.getElementById("ms_amount_hidden").value = document.getElementById("ms_amount").value
      }

     function calc1(id, price)
     {
      document.getElementById("units_sale"+id).value=(price*document.getElementById("units_sold"+id).value).toFixed(2);
      document.getElementById("stotal").value = (parseFloat(document.getElementById("stotal").value) - parseFloat(document.getElementById("units_sale_hidden"+id).value) + parseFloat(document.getElementById("units_sale"+id).value)).toFixed(2);
      document.getElementById("diff").value = (parseFloat(document.getElementById("dtotal").value) - parseFloat(document.getElementById("stotal").value)).toFixed(2);
      }

     function calc3()
     {
      var two_thousand = 2000 * document.getElementById("two_thousand").value;
      var five_hundred = 500 * document.getElementById("five_hundred").value;
      var two_hundred = 200 * document.getElementById("two_hundred").value;
      var one_hundred = 100 * document.getElementById("one_hundred").value;
      var fifty = 50 * document.getElementById("fifty").value;
      var twenty = 20 * document.getElementById("twenty").value;
      var ten = 10 * document.getElementById("ten").value;
      var coins = document.getElementById("coins").value;
      var pos = document.getElementById("pos").value;
      var ufill = document.getElementById("ufill").value;
      var upi = document.getElementById("upi").value;
      var smartfleet = document.getElementById("smartfleet").value;
      var smartdrive = document.getElementById("smartdrive").value;
      var pinelabs = document.getElementById("pinelabs").value;

      document.getElementById("dtotal").value = (parseFloat(two_thousand)+ parseFloat(five_hundred)+ parseFloat(two_hundred)+ parseFloat(one_hundred)+ parseFloat(fifty)+ parseFloat(twenty)+ parseFloat(ten)+ parseFloat(coins)+ parseFloat(pos)+ parseFloat(ufill)+ parseFloat(upi)+ parseFloat(smartfleet)+ parseFloat(smartdrive)+ parseFloat(pinelabs)).toFixed(2);;
      document.getElementById("diff").value = (parseFloat(document.getElementById("dtotal").value) - parseFloat(document.getElementById("stotal").value)).toFixed(2);
      }
</script>

{% endblock %}