{% extends 'base.html' %}
{% block title %}Duty Posting{% endblock %}
{% block content %}
<h1 align="center" style="margin-top: 5%;">Duty Posting</h1>
<div class="outer" 
      style="margin: 5%; margin-top: 2%; border: black 2px; padding: 5%; border-radius: 5px; box-shadow: 10px 10px 50px grey">
      <div style="border: solid rgb(27, 26, 26) 1px; border-radius: 5px; padding: 2%; width: 100%; display: block;" class="form-inline">
            
      <form method="POST">
            
            <div class="form-group form-inline">
                  <label for="date">Date:</label>
                  <div class="col-sm-10">
                        <input type="date" style="margin-top: 20px;" class="form-control col-sm-10" id="date" name="date" value="{{date}}">
                  </div>
            </div>
            <br>
<div>
            {% for duty in dutyposting %}
            <!-- <div style="border: solid rgb(27, 26, 26) 1px; border-radius: 5px; padding: 2%;" class="form-inline"> -->
                  <div style="display: flex;">
                 <div style="flex: 0.60;">Employee Name:&nbsp;<b>{{duty.name}}</b>&nbsp;&nbsp;</div>
                 <div style="flex: 0.20;">Shift:&nbsp;{{duty.shift}}&nbsp;&nbsp;</div>
                  <div style="flex: 0.20;">Bay:&nbsp;{{duty.bay}}&nbsp;&nbsp;</div>
                  </div>
            <hr>
            <!-- </div> -->
            {% endfor %}
            </div>
            <div style="border: solid rgb(27, 26, 26) 1px; border-radius: 5px; padding: 2%; width: 100%;">
                  {% for employee in employees %}

                  <!-- <div style="border: solid rgb(27, 26, 26) 1px; border-radius: 5px; padding: 2%;" class="form-group row"> -->
            <div>
                  Employee Name:&nbsp;{{employee.name}}<br>
                  Shift:&nbsp;
                  1:&nbsp;&nbsp;<input type="radio" class="form-control" id="shift{{employee.emp_id}}" name="shift{{employee.emp_id}}" value="1" style="margin-top: 27px; font-size: 1px;"/>&nbsp;&nbsp;
                  2:&nbsp;&nbsp;<input type="radio" class="form-control" id="shift{{employee.emp_id}}" name="shift{{employee.emp_id}}" value="2" style="margin-top: 27px; font-size: 1px"/>
                  
                  <!-- <input type="number" style="margin-top: 20px;" class="form-control" id="shift{{employee.emp_id}}" name="shift{{employee.emp_id}}"><br> -->
                  <br>
                  Bay:&nbsp;
                  <select class="form-control" id="bay{{employee.emp_id}}" name="bay{{employee.emp_id}}" value="">
                        <option value="" selected>None</option>
                        {% for bay in bays %}
                        <option value="{{bay.bay_no}}">{{bay.bay_no}}</option>
                        {% endfor %}
                  </select> 
                  <!-- <input type="number"style="margin-top: 20px;"  class="form-control" id="bay{{employee.emp_id}}" name="bay{{employee.emp_id}}"><br> -->
            </div>
                  <br><br>
                  {% endfor %}
            </div>
            
            <br>

            <div align="center">
                  <button type="submit" class="btn btn-primary">Add</button>

            </div>
      </form>
</div>
</div>
{% endblock %}