{% extends 'base.html' %}
{% block title %}Duty Posting{% endblock %}
{% block content %}
<h1 align="center" style="margin-top: 5%;">Duty Posting</h1>
<div
      style="margin: 5%; margin-top: 2%; border: black 2px; padding: 5%; border-radius: 5px; box-shadow: 10px 10px 50px grey">
      <div style="border: solid rgb(27, 26, 26) 1px; border-radius: 5px; padding: 2%;" class="form-inline">
            
      <form method="POST">
            
            <div class="form-group row">
                  <label for="date" class="col-sm-2 col-form-label">Date:</label>
                  <div class="col-sm-10">
                        <input type="date" class="form-control col-sm-10" id="date" name="date" value="{{date}}">
                  </div>
            </div>
            <br>
<div>
            {% for duty in dutyposting %}
            <!-- <div style="border: solid rgb(27, 26, 26) 1px; border-radius: 5px; padding: 2%;" class="form-inline"> -->
                  Employee Name:&nbsp;{{duty.name}}&nbsp;&nbsp;
                  Shift:&nbsp;{{duty.shift}}&nbsp;&nbsp;
                  Bay:&nbsp;{{duty.bay}}&nbsp;&nbsp;
            <hr>
            <!-- </div> -->
            {% endfor %}
            </div>
            <div style="border: solid rgb(27, 26, 26) 1px; border-radius: 5px; padding: 2%;" class="form-inline">
                  {% for employee in employees %}

                  <!-- <div style="border: solid rgb(27, 26, 26) 1px; border-radius: 5px; padding: 2%;" class="form-group row"> -->
            <div>
                  Employee Name:&nbsp;{{employee.name}}&nbsp;&nbsp;
                  Shift:&nbsp;<input type="text" class="form-control" id="shift{{employee.emp_id}}" name="shift{{employee.emp_id}}">&nbsp;&nbsp;
                  Bay:&nbsp;<input type="text" class="form-control" id="bay{{employee.emp_id}}" name="bay{{employee.emp_id}}">&nbsp;&nbsp;
                  </div>
                  <br><br>
                  {% endfor %}
            </div>
            
            <br>

            <div align="center">
                  <button type="submit" class="btn btn-primary">Add</button>

            </div>
      </form>
</div>
</div>
{% endblock %}