{% extends 'base.html' %}
{% block title %}Report{% endblock %}
{% block content %}


<head>
    <style>
          #tr,
          th,
          td {
                border: solid rgb(106, 104, 104) 1px;
                border-radius: 15px;
                padding: 0%;
          }
    </style>
</head>


<div class="container-fluid">
        <h1 align="center" style="margin-top: 5%;"> Report</h1>
        <div class="outer" 
            style="margin: 5%; margin-top: 2%; border: black 2px; padding: 5%; border-radius: 5px; box-shadow: 10px 10px 50px grey">

            <div style="border: solid rgb(27, 26, 26) 1px; border-radius: 5px; padding: 2%;">
                <form method="POST">

                    <div class="form-inline">
                        <div style="margin-right: 10%;">
                              Start Date:&nbsp;<input type="date" style="margin-top: 20px;" class="form-control" id="sdate"
                                    name="sdate">&nbsp;&nbsp;
                        </div>
                        <div style="margin-right: 10%;">
                              End Date:&nbsp;<input type="date" style="margin-top: 20px;" class="form-control" id="edate"
                                    name="edate">&nbsp;&nbsp;
                        </div>
                        <label for="type">Employee:</label>
                  <select id="emp_id" name="emp_id" style="margin-right: 5%;">
                    {% for employee in employees %}
                    <option value="{{employee.emp_id}}">{{employee.emp_id}}:&nbsp;{{employee.name}}</option>
                    {% endfor %}
                  </select>
                        <br>
                        

                        <button type="submit" class="btn btn-primary">Search</button>

                  </div>

                </form>
            <br>
            <div><br>
                {% if salelist: %}
                <a href="{{ url_for('views.employeepdf', sdate=sdate, edate=edate, id=emp_id) }}" style="float: right;">
                    <button type="submit" class="btn btn-info">PRINT</button>
                </a>
                {% endif %}
                </div><br>
            {% if salelist: %}
            <div class="mt-3" style="overflow-x: auto;">
                
                <table class="table table-bordered table-hover" >
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Bay</th>
                            <th>Shift</th>
                            <th>MS Sales</th>
                            <th>MS Amount</th>
                            <th>HSD Sales</th>
                            <th>HSD Amount</th>
                            <th>Sale Total</th>
                            <th>Collected Amount</th>
                            <th>Excess/Short</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for sale in salelist %}
                        <tr>
                            <td>{{sale.date}}</td>
                            <td>{{sale.bay}}</td>
                            <td>{{sale.shift}}</td>
                            <td>{{sale.ms_sales}}</td>
                            <td>{{sale.ms_amount}}</td>
                            <td>{{sale.hsd_sales}}</td>
                            <td>{{sale.hsd_amount}}</td>
                            <td>{{sale.stotal}}</td>
                            <td>{{sale.dtotal}}</td>
                            <td>{{sale.diff}}</td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <th colspan="2">Total</th>
                            <td>{{salelist | length}}</td>
                            <td>{{ salelist | sum(attribute='ms_sales') }}</td>
                            <td>{{ salelist | sum(attribute='ms_amount') }}</td>
                            <td>{{ salelist | sum(attribute='hsd_sales') }}</td>
                            <td>{{ salelist | sum(attribute='hsd_amount') }}</td>
                            <td>{{ salelist | sum(attribute='stotal') }}</td>
                            <td>{{ salelist | sum(attribute='dtotal') }}</td>
                            <td>{{ salelist | sum(attribute='diff') }}</td>
                        </tr>
                    </tbody>
                </table>
                <!-- <br>
                <a href="{{ url_for('views.employeepdf', sdate=sdate, edate=edate, id=emp_id) }}" style="float: right;">
                    <button type="submit" class="btn btn-info">PDF</button>
                </a>
                <br> -->
            </div>
            {% endif %}
            <!-- <a href={{response}} download="output.pdf">download</a> -->
            </div>
        </div>
    </div>
{% endblock %}