{% extends 'base.html' %}
{% block title %}Density Register{% endblock %}
{% block content %}
<h1 align="center" style="margin-top: 5%;">Density Register</h1>
<form method="POST">
      <div
            style="margin: 5%; margin-top: 2%; border: black 2px; padding: 5%; border-radius: 5px; box-shadow: 10px 10px 50px grey">

            <div class="form-group form-inline">
                  <label for="date">Date:</label>
                  <input type="date" class="form-control" id="date" name="date" />
            </div>
            <br>
            <h4>Morning Density Observed</h4>

            <div style="border: solid rgb(27, 26, 26) 1px; border-radius: 5px; padding: 2%;">
                  <div class="form-group form-inline">
                        <label for="morning_density">Density:&nbsp;</label>
                        <input type="text" class="form-control" id="mornin_density" name="morning_density"
                              style="margin-right: 10%;" onchange="cal()" value="0"/>

                        <label for="morning_temp">Temperature:&nbsp;</label>
                        <input type="text" class="form-control" id="morning_temp" name="morning_temp" onchange="cal()" value="0"/>
                  </div>

                  <br>
                  <div class="form-group form-inline">
                        <label for="density15">Density converted to 15<sup>o</sup>:&nbsp;</label>
                        <input type="text" class="form-control" id="density15" name="density15" />
                  </div>
            </div>
      </div>

      <div
            style="margin: 5%; margin-top: 2%; border: black 2px; padding: 5%; border-radius: 5px; box-shadow: 10px 10px 50px grey">
            <h4>Receipts</h4>
            <div style="border: solid rgb(27, 26, 26) 1px; border-radius: 5px; padding: 2%;">
                  <div class="form-group form-inline">
                        <label for="rec_invoice">Invoice Number:&nbsp;</label>
                        <input type="text" class="form-control" id="rec_invoice" name="rec_invoice"
                              style="margin-right: 10%;" />

                        <label for="rec_qty">Quantity&nbsp;</label>
                        <input type="text" class="form-control" id="rec_qty" name="rec_qty" />
                  </div>

                  <br>
                  <h6><u>Observed</u></h6>
                  <div class="form-group form-inline">
                        <label for="rec_obs_density">Density&nbsp;</label>
                        <input type="text" class="form-control" id="rec_obs_density" name="rec_obs_density"
                              style="margin-right: 10%;" onchange="cal()"/>

                        <label for="rec_obs_temp">Temperature&nbsp;</label>
                        <input type="text" class="form-control" id="rec_obs_temp" name="rec_obs_temp" onchange="cal()"/>
                  </div>
                  <br>
                  <div class="form-group form-inline">
                        <label for="rec_density15">Density converted to 15<sup>o</sup>:&nbsp;</label>
                        <input type="text" class="form-control" id="rec_density15" name="rec_density15" />
                  </div>
            </div>
      </div>
      <div
            style="margin: 5%; margin-top: 2%; border: black 2px; padding: 5%; border-radius: 5px; box-shadow: 10px 10px 50px grey">

            <h4>As per Cash Memo</h4>

            <div style="border: solid rgb(27, 26, 26) 1px; border-radius: 5px; padding: 2%;">
                  <div class="form-group form-inline">
                        <label for="cash_density15">Density at 15<sup>o</sup>:&nbsp;</label>
                        <input type="text" class="form-control" id="cash_density15" name="cash_density15"
                              style="margin-right: 10%;" onchange="cal()"/>

                        <label for="diff">Difference between 9 & 10:&nbsp;</label>
                        <input type="text" class="form-control" id="diff" name="diff" />
                  </div>
            </div>
      </div>
      <div
            style="margin: 5%; margin-top: 2%; border: black 2px; padding: 5%; border-radius: 5px; box-shadow: 10px 10px 50px grey">

            <h4>After Decantation Density</h4>

            <div style="border: solid rgb(27, 26, 26) 1px; border-radius: 5px; padding: 2%;">
                  <h6><u>Observed</u></h6>
                  <div class="form-group form-inline">
                        <label for="afterdeca_obs_density">Density&nbsp;</label>
                        <input type="text" class="form-control" id="afterdeca_obs_density" name="afterdeca_obs_density"
                              style="margin-right: 10%;" onchange="cal()"/>

                        <label for="afterdeca_obs_tem">Temperature&nbsp;</label>
                        <input type="text" class="form-control" id="afterdeca_obs_tem" name="afterdeca_obs_tem" onchange="cal()"/>
                  </div>
                  <br>
                  <div class="form-group form-inline">
                        <label for="afterdeca_obs_density15">Density converted to 15<sup>o</sup>:&nbsp;</label>
                        <input type="text" class="form-control" id="afterdeca_obs_density15"
                              name="afterdeca_obs_density15" />
                  </div>
            </div>
            <br>
            <div align="center">
                  <button type="submit" class="btn btn-primary">Submit</button>
            </div>
      </div>
      </div>
</form>
<script>
      
</script>
{% endblock %}