{% extends 'base.html' %}
{% block title %}Report{% endblock %}
{% block content %}
<head>
      <style>
            #tr,
            th,
            td {
                  max-width: 100%;
                  border: solid rgb(106, 104, 104) 1px;
                  border-radius: 15px;
                  padding: 0%;
            }
      </style>
</head>


<div class="container-fluid">
      <h1 align="center" style="margin-top: 5%;"> Report</h1>
      <div class="outer" 
          style="margin: 5%; margin-top: 2%; border: black 2px; padding: 5%; border-radius: 5px; box-shadow: 10px 10px 50px grey">

          <div style="border: solid rgb(27, 26, 26) 1px; border-radius: 5px; padding: 2%;">
              <form method="POST">

                  <div class="form-inline" style="display: flex; justify-content: space-around;">
                        <div>
                              Start Date:&nbsp;<input type="date" style="margin-top: 20px;" class="form-control" id="sdate"
                                    name="sdate">&nbsp;&nbsp;
                        </div>
                        <div>
                              End Date:&nbsp;<input type="date" style="margin-top: 20px;" class="form-control" id="edate"
                                    name="edate">&nbsp;&nbsp;
                        </div><div style="display: flex;">
                        <label for="type">Fuel:&nbsp;</label>
                  <select id="type" name="type">
                              <option value="MS">MS</option>
                              <option value="HSD">HSD</option>
                  </select></div>
                        <br>
                        

                        <button type="submit" class="btn btn-primary">Search</button>

                  </div>
                  <br>
            </form>
            <div>
                  {% if salelist: %}
                  <a href="{{ url_for('views.fuelpdf', sdate=sdate, edate=edate, type=type) }}" style="float: right;">
                        <button class="btn btn-info">PRINT</button>
                  </a>
                  {% endif %}
            </div><br>
            <!-- <div style="border: solid rgb(27, 26, 26) 1px; border-radius: 5px; padding: 0%;"> -->
                  {% if salelist: %}
                  <div class="mt-3" style="overflow-x: auto;">
                        <table class="table table-bordered table-hover" >
                            <thead>
                                <tr>
                                    <th>S. No</th>
                                    <th>Fuel Type</th>
                                    <th>Date</th>
                                    <th>Morning Density</th>
                                    <th>Morning Temperature</th>
                                    <th>Density at 15<sup>o</sup></th>
                                    <th>Recieved Invoice</th>
                                    <th>Recieved Quantity</th>
                                    <th>Recieved Observed Density</th>
                                    <th>Recieved Observed Temperature</th>
                                    <th>Recieved Density at 15<sup>o</sup></th>
                                    <th>Cash Density at 15<sup>o</sup></th>
                                    <th>Difference</th>
                                    <th>After Decantation Density</th>
                                    <th>After Decantation Temperature</th>
                                    <th>After Decantation Density at 15<sup>o</sup></th>
                                </tr>
                            </thead>
                            <tbody>
                              {% set i = [1] %}
                                {% for sale in salelist %}
                                <tr>
                                    <td>{{i|last}}</td>{% set temp = i.append(i|last + 1) %}
                                    <td>{{sale.type}}</td>
                                    <td>{{sale.date}}</td>
                                    <td>{{sale.morning_density}}</td>
                                    <td>{{sale.morning_temp}}</td>
                                    <td>{{sale.density15}}</td>
                                    <td>{{sale.rec_invoice}}</td>
                                    <td>{{sale.rec_qty}}</td>
                                    <td>{{sale.rec_obs_density}}</td>
                                    <td>{{sale.rec_obs_temp}}</td>
                                    <td>{{sale.rec_density15}}</td>
                                    <td>{{sale.cash_density15}}</td>
                                    <td>{{sale.diff}}</td>
                                    <td>{{sale.afterdeca_obs_density}}</td>
                                    <td>{{sale.afterdeca_obs_temp}}</td>
                                    <td>{{sale.afterdeca_obs_density15}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <br>
                    <!-- <a href="{{ url_for('views.fuelpdf', sdate=sdate, edate=edate, type=type) }}" style="float: right;">
                        <button type="submit" class="btn btn-info">PDF</button>
                    </a> -->
                    {% endif %}
      </div>
      <br>
      <!-- <p>Get detailed report:
            <a href=Report>Download</a></p> -->

            <!-- <a href={{response}} download="output.pdf">download</a> -->
            
</div>
</div>{% endblock %}