{% extends 'base.html' %}
{% block title %}change{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col col-sm-12 col-md-6 col-12">
                <div class="content">
                    <h5><span class="line"></span>WELCOME TO MFUEL</h5>
                    <h2>YOUR</h2>
                    <h2>FUEL</h2>
                    <h2>MATE</h2>
                </div>
            </div>
            <div class="col col-sm-12 col-md-6 col-12">
                <br><br><br><br>
                <div class="content-image" style="border: solid 2px black; border-radius: 30px; background-color: aliceblue; width: fit-content; padding-right: 10%;">
                    <!-- <img src="static/images/intro.jpg" alt=""> -->
                    <h3 style="font-size: 45px; padding-top: 5%; color: rgb(37, 29, 29);">
                        <u>Daily Price</u>
                    </h3>
                    {% if a==0 %}
                        <h4> Not Set</h4>
                        {% else %}
                        <h4>MS Price:&nbsp;{{ check[0].ms_price }}</h4>
                        <h4>HSD Price:&nbsp;{{ check[0].hsd_price }}</h4>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
      {% if a==0 %}
      <!-- <script>
              if (confirm("Daily price not set. Set daily price now?")) {
                  window.location.assign("/dailyprice");
              }
      </script> -->
      <div id="snackbar" class="set">Daily price not set&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button onclick="location.href='/dailyprice'">Go</button></div>
      <!-- <script>
        function func1(){
            var x = document.getElementById("snackbar");
  
	x.className = "show";
  
	setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
        }
      </script> -->
      {% endif %}
{% endblock %}