{% extends 'base.html' %}
{% block title %}Report{% endblock %}
{% block content %}
<h1 align="center" style="margin-top: 5%;">Inventory Report</h1>
<div
      style="margin: 5%; margin-top: 2%; border: black 2px; padding: 5%; border-radius: 5px; box-shadow: 10px 10px 50px grey">

      <div style="border: solid rgb(27, 26, 26) 1px; border-radius: 5px; padding: 2%;">
            <form method="POST">

                  <div class="form-inline">
                    <div style="margin-right: 10%;">
                        Start Date:&nbsp;<input type="date" class="form-control" id="sdate" name="sdate">&nbsp;&nbsp;
                    </div>
                <div style="margin-right: 10%;">
                        End Date:&nbsp;<input type="date" class="form-control" id="edate"
                              name="edate">&nbsp;&nbsp;
                            </div><br>
                  
                        <button type="submit" class="btn btn-primary">Search</button>

                  </div>
            </form>
      </div>
</div>
{% endblock %}