{% extends 'base.html' %}
{% block title %}Sales Report{% endblock %}
{% block content %}


<head>
      <style>
            #tr,
            th,
            td {
                  border: solid rgb(106, 104, 104) 1px;
                  border-radius: 15px;
                  padding: 0%;
            }
      </style>
</head>


<h1 align="center" style="margin-top: 5%;">Sales Report</h1>
<div
      style="margin: 0%; margin-top: 2%; border: black 2px; padding: 2%; border-radius: 5px; box-shadow: 10px 10px 50px grey">

      <div style="border: solid rgb(27, 26, 26) 1px; border-radius: 5px; padding: 1%;">
            <form method="POST">

                  <div class="form-inline">
                        <div style="margin-right: 10%;">
                              Start Date:&nbsp;<input type="date" class="form-control" id="sdate"
                                    name="sdate">&nbsp;&nbsp;
                        </div>
                        <div style="margin-right: 10%;">
                              End Date:&nbsp;<input type="date" class="form-control" id="edate"
                                    name="edate">&nbsp;&nbsp;
                        </div><br>

                        <button type="submit" class="btn btn-primary">Search</button>

                  </div>
            </form><br>
            <!-- <div style="border: solid rgb(27, 26, 26) 1px; border-radius: 5px; padding: 0%;"> -->
                  <div class="mt-3">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Sale ID</th>
                                    <th>Employee ID</th>
                                    <th>Bay</th>
                                    <th>Date</th>
                                    <th>Shift</th>
                                    <th>MS Sales</th>
                                    <th>MS Amount</th>
                                    <th>HSD Sales</th>
                                    <th>HSD Amount</th>
                                    <th>Sale Total</th>
                                    <th>Collected Total</th>
                                    <th>Difference</th>
                                </tr>
                            </thead>
                            <tbody>
                              {% set ms_sales = 0 %}
                              {% set ms_amount = 0 %}
                              {% set hsd_sales = 0 %}
                              {% set hsd_amount = 0 %}
                                {% for sale in salelist %}
                                <tr>
                                    <td>{{sale.sid}}</td>
                                    <td>{{sale.emp_id}}</td>
                                    <td>{{sale.bay}}</td>
                                    <td>{{sale.date}}</td>
                                    <td>{{sale.shift}}</td>
                                    <td>{{sale.ms_sales}}{% set ms_sales = ms_sales + 1 %}</td>
                                    <td>{{sale.ms_amount}}{% set ms_amount = ms_amount + 1 %}</td>
                                    <td>{{sale.hsd_sales}}{% set hsd_sales = hsd_sales + 1 %}</td>
                                    <td>{{sale.hsd_amount}}{% set hsd_amount = hsd_amount + 1 %}</td>
                                    <td>{{sale.stotal}}</td>
                                    <td>{{sale.dtotal}}</td>
                                    <td>{{sale.diff}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
      </div>
      <br>
      <!-- <p>Get detailed report:
            <a href=Report>Download</a></p> -->


</div>
</div>
{% endblock %}